@tailwind base;
@tailwind components;

body
{
    font-family: 'Camber', Sans-Serif;
    -webkit-font-smoothing: antialiased;
}

.logo-font
{
    font-family: 'Radley Sans', Sans-Serif;
}

.logo
{
    font-family: 'Radley Sans', Sans-Serif;
    font-weight: 600;
    font-style: italic;
}

.submit-apply-btn {
    @apply bg-blue-700;
    font-family: inherit;
    font-size: 20px;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 12px;
    overflow: hidden;
    transition: all 0.2s;
    width: 100%;
    justify-content: center;
}

.submit-apply-btn span {
display: block;
margin-left: 0.3em;
transition: all 0.3s ease-in-out;
}

.submit-apply-btn svg {
display: block;
transform-origin: center center;
transition: transform 0.3s ease-in-out;
}

.submit-apply-btn:hover .svg-wrapper {
animation: fly-1 0.6s ease-in-out infinite alternate;
}

.submit-apply-btn:hover svg {
transform: translateX(300%) rotate(45deg) scale(1.1);
}

.submit-apply-btn:hover span {
transform: translateX(calc(100vh));
}

.submit-apply-btn:active {
transform: scale(0.95);
}

.submit-apply-btn:hover {
    @apply bg-blue-500;
}

#introduction-library-facilities
{
    background-color: rgb(59 130 246);
    background-blend-mode: multiply;
}

#introduction-research-areas
{
    background-color: #7dd3fc;
    background-blend-mode: multiply;
}

.light-btn:before
{
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.3);
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    clip-path: polygon(0 0, 60% 0, 40% 100%, 0 100%);
    transition: 500ms;
}

.light-btn
{
    @apply bg-transparent border-2 border-white px-6 py-4 rounded-full text-white relative;
    overflow: hidden;
}

.light-btn:hover:before
{
    width: 500%;
    transition: 500ms;
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}  

@keyframes mh-left
{
    from
    {
        margin-left: 80%;
        opacity: 0;
    }

    to
    {
        margin-left: 0;
        opacity: 1;
    }
}

@keyframes mh-right
{
    from
    {
        margin-left: -80%;
        opacity: 0;
    }

    to
    {
        margin-left: 0;
        opacity: 1;
    }
}

.main-header-left
{
    @apply bg-orange-600 relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 64px 100%);
    width: 100%;
    height: 96px;
    margin: 0 auto;
    animation: mh-left 2s;
}

.main-header-right
{
    @apply bg-orange-600 relative;
    clip-path: polygon(0 0, 100% 0, calc(100% - 64px) 100%, 0 100%);
    width: 100%;
    height: 96px;
    margin: 0 auto;
    animation: mh-right 2s;
}

.header-foreground-left
{
    @apply bg-orange-300 flex relative z-10;
    content: "";
    clip-path: polygon(0 0, 100% 0, 100% 100%, 64px 100%);
    width: 100%;
    height: 96px;
}

.header-foreground-right
{
    @apply bg-orange-300 flex relative z-10;
    content: "";
    clip-path: polygon(0 0, 100% 0, calc(100% - 64px) 100%, 0 100%);
    width: 100%;
    height: 96px;
}

@tailwind utilities;
